@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
:root {
  color: #573a37;
  font-family: "Alice", sans-serif;
  line-height: 150%;
}
img {
  border-radius: 16px;
}
body {
  background-image: url(Assets/bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #573824 30%;
}
#page {
  background-color: #f0e8c2;
  box-sizing: border-box;
  padding: 24px;
  border-radius: 24px;
  margin: 48px auto;
  width: 800px;
}

main {
  padding: 24px;
}

section + section {
  margin-top: 24px;
}

#about p + p {
  margin-top: 12px;
}

h1 {
  line-height: 140%;
  font-size: 40px;
  margin-bottom: 4px;
}

h1,
h2 {
  color: #291b1a;
  margin-bottom: 4px;
  line-height: 150%;
}

h2 {
  font-size: 24px;
}

ul {
  padding: 24px;
}
